

*.o
*.dep
*.dep2
*~
*.orig
Makefile*

callgrind.out*
leak.out*
core*

gameSource/OneLife
gameSource/testUser/*
gameSource/testUser2/*
gameSource/recordedGames/*
gameSource/screenShots/*

server/OneLifeServer
server/log.txt
server/recentPlacements.txt
server/*.db
server/backups/
server/failureLog/
server/foodLog/
server/lifeLog/
server/categories
server/objects
server/transitions

# Local OHOL server installation repositories
/server/installYourOwnServer/OneLife/
/server/installYourOwnServer/OneLifeData7/
/server/installYourOwnServer/minorGems/
